<div>
    <h1>Admin Profile</h1>
    <div class="card mb-4">
        <div class="card-body text-center">
            <img src="https://t3.ftcdn.net/jpg/03/62/56/24/360_F_362562495_Gau0POzcwR8JCfQuikVUTqzMFTo78vkF.jpg"
                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{this.admin.last_name}} {{this.admin.first_name}}</h5>
            <p class="text-muted mb-3">{{this.admin.email}}</p>
            <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-outline-primary ms-1">Delete</button>
            </div>
        </div>
    </div>
</div>