<div class="book-card-container">
  <div
    class="img-container"
    style="width: 100%;
      padding-top: 150%;
      background-image: url('https://bookly-theme.myshopify.com/cdn/shop/products/shop-new-16.jpg?v=1587117190&width=533');
      background-size: cover;"
  >
  </div>
  <div class="card-body text-start py-4 text-center">
    <h6 class="text-uppercase mb-3 text-secondary fs-6">Sage Isaias</h6>
    <h1 class="fs-4 header-font fw-bold">Girls at the Golden City</h1>
    <p class="text-secondary fs-5">$12.0</p>
  </div>
</div>