<div class="container-fluid bg-light d-flex align-items-center justify-content-between" style="padding: 2rem 6rem;">
  <div id="header-left-icons" class="d-flex gap-4">
    <a href="/cart" class="position-relative">
      <i class="fa fa-shopping-cart"></i>
      {{#if session.cart.totalQuantity}}
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{session.cart.totalQuantity}}
      </span>
      {{/if}}
    </a>
  </div>
  <a href="/">
    <h1 class="header-font">BOOK
      <span class="header-font" style="color: var(--palette-02);">SHOP</span>
    </h1>
  </a>
  <div id="header-right-icons" class="d-flex gap-4 align-items-center">
    <a href="">
      <i class="fa-solid fa-moon"></i>
    </a>
    <a href="">
      <i class="fa-solid fa-sun"></i>
    </a>
    <div class="d-flex align-items-center gap-2" style="color: #48c5a9">
      <i class="fas fa-wallet"></i>
      <span>${{amount}}</span>
      <a style="height: 18px; width: 20px; clip-path: polygon(75% 0,100% 50%,75% 100%,25% 100%,0 50%,25% 0); background: #48c5a9; display: flex; justify-content: center; align-items: center; font-size: 10px; font-weight: 700; cursor: pointer; color: #000"
        type="button" data-bs-toggle="modal" data-bs-target="#balanceModal">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
    <a href="/auth/login">
      <i class="fa-solid fa-user"></i>
    </a>
    <i class="fa fa-search"></i>
  </div>
  {{> customers/balance}}
</div>