<div class="container-fluid bg-light d-flex align-items-center justify-content-between" style="padding: 2.5rem;">
    <div id="header-left-icons" class="d-flex gap-4">
        <i class="fa fa-shopping-cart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa-solid fa-note-sticky"></i>
    </div>
    <h1>BOOK <span class="text-danger">SHOP</span></h1>
    <div id="header-right-icons" class="d-flex gap-4">
        <a href="/auth/login">
            <i class="fa-solid fa-user"></i>
        </a>
        <i class="fa fa-search"></i>
    </div>
</div>