<div class="container-fluid bg-light d-flex align-items-center justify-content-between" style="padding: 2rem 6rem;">
  <div id="header-left-icons" class="d-flex gap-4">
    <a href="/cart">
      <i class="fa fa-shopping-cart"></i>
    </a>
    <a href="/favorites">
      <i class="fa fa-heart"></i>
    </a>
  </div>
  <h1 class="header-font">BOOK
    <span class="header-font" style="color: var(--palette-02);">SHOP</span>
  </h1>
  <div id="header-right-icons" class="d-flex gap-4">
    <a href="/auth/login">
      <i class="fa-solid fa-user"></i>
    </a>
    <i class="fa fa-search"></i>
  </div>
</div>