<div class="container-fluid bg-light d-flex align-items-center justify-content-between" style="padding: 2rem 6rem;">
  <div id="header-left-icons" class="d-flex gap-4">
    <a href="/cart" class="position-relative">
      <i class="fa fa-shopping-cart" style="color: var(--palette-04)"></i>
      {{#if session.cart.totalQuantity}}
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{session.cart.totalQuantity}}
      </span>
      {{/if}}
    </a>
  </div>
  <a href="/">
    <h1 class="header-font">BOOK
      <span class="header-font darkmode-ignore" style="color: var(--palette-02);">SHOP</span>
    </h1>
  </a>
  <div id="header-right-icons" class="d-flex gap-4 align-items-center">
    <a href="/auth/login">
      <i class="fa-solid fa-user"></i>
    </a>
    <a type="button" data-bs-toggle="modal" data-bs-target="#searchModal">
      <i class="fa fa-search" style="cursor: pointer"></i>
    </a>
  </div>
</div>
{{> home/search-modal}}