<div class="banner-container flex d-flex align-items-center justify-content-center" style="padding: 6rem 10rem;">
    <div class="content-container text-center" style="width: 60%;">
        <h2 style="font-size: 2rem;">Shop wide range of collections</h2>
        <h1 class="header-font fw-bold" style="color: var(--palette-02); font-size: 4rem;">GRAND OPENING
        </h1>
        <p class="mt-4">
Discover a world of possibilities at our grand opening, where you can shop a wide range of collections to find the perfect items that suit your style.</p>
        <a href="/category" role="button" class="btn btn-primary rounded-0 border-0 mt-4"
            style="background-color: var(--palette-02); padding: 0.75rem 2rem;">Shop now</a>
    </div>
</div>
<style>
    .banner-container {
        background-image: url(https://bookly-theme.myshopify.com/cdn/shop/files/bg-img-3.jpg?v=1613723078&width=3840);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>