<div class="hero-container flex d-flex align-items-center darkmode-ignore" style="padding: 6rem 10rem;">
  <div class="content-container" style="width: 50%;">
    <h2 style="font-size: 2.5rem;">Year end sale</h2>
    <h1 class="header-font fw-bold darkmode-ignore" style="color: var(--palette-02); font-size: 5rem;">Get 70% off for
      all design books
    </h1>
    <p class="mt-4">Embark on a literary journey with our online book store. Explore genres, discover bestsellers, and
      find your next read effortlessly. Enjoy convenient shopping and a diverse selection of books for every taste. Your
      next favorite awaits at our book store – where stories unfold.</p>
    <a href="/categories" role="button" class="btn btn-primary rounded-0 border-0 mt-4 darkmode-ignore"
      style="background-color: var(--palette-02); padding: 0.75rem 2rem;">Shop now</a>
  </div>
</div>

<style>
  .hero-container {
    background-image:
      url("https://bookly-theme.myshopify.com/cdn/shop/files/slider.jpg?v=1613722505");
    background-position: left center;
    background-fit: cover;
  }
</style>