<div style="background-color: #f7f7f7; padding: 0rem 10rem;">
  <div class="row text-center">
    <div class="col-3 p-4 d-flex flex gap-4 align-items-center">
      <i class="fa-solid fa-truck-fast fs-1"></i>
      <div class="text-start">
        <h5 class="m-0 header-font text-uppercase mb-2 fw-bold">Free shipping</h5>
        <p class="m-0 text-secondary">Order over $100</p>
      </div>
    </div>
    <div class="col-3 p-4 d-flex flex gap-4 align-items-center">
      <i class="fa-solid fa-lock fs-1"></i>
      <div class="text-start">
        <h5 class="m-0 header-font text-uppercase mb-2 fw-bold">Secure payment</h5>
        <p class="m-0 text-secondary">100% Secure Payment</p>
      </div>
    </div>
    <div class="col-3 p-4 d-flex flex gap-4 align-items-center">
      <i class="fa-solid fa-tag fs-1"></i>
      <div class="text-start">
        <h5 class="m-0 header-font text-uppercase mb-2 fw-bold">Best price</h5>
        <p class="m-0 text-secondary">Guaranteed Price</p>
      </div>
    </div>
    <div class="col-3 p-4 d-flex flex gap-4 align-items-center">
      <i class="fa-solid fa-arrow-rotate-left fs-1"></i>
      <div class="text-start">
        <h5 class="m-0 header-font text-uppercase mb-2 fw-bold">Free returns</h5>
        <p class="m-0 text-secondary">Within 30 Days returns</p>
      </div>
    </div>
  </div>
</div>