<div class='container'>
	<div class='row'>
		<div class='col-sm-9 col-md-7 mx-auto'>
			<div class='card border-0 my-5'
				style="background-color: var(--gradient-base-background-2); max-width: 70rem">
				<div class='card-body p-4 p-sm-5'>
					<h1 class='card-title text-center mb-5 fw-light'>Login</h1>
					<form action='/auth/login' method='post'>
						<div class="mb-3">
							<input type='email' class='form-control' placeholder='Email' name='email' />
						</div>
						<div class="mb-3">
							<input type='password' class='form-control' placeholder='Password' name='password' />
						</div>
						<div class='d-grid'>
							<button class='btn btn-primary btn-login text-uppercase fw-bold w-10 m-auto px-4'
								type='submit'>Sign
								in</button>
						</div>
					</form>
					<hr class="border-1 border-top border-secondary" />
					<div class='d-flex flex-row gap-2 justify-content-between mt-3'>
						<a href='/auth/forgot-password' class='text-primary'>Forgot Your Password?</a>
						<a href='/auth/register' class='text-primary'>Create Account</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>