<div class='container'>
	<div class='row'>
		<div class='col-sm-9 col-md-7 col-lg-5 mx-auto'>
			<div class='card border-0 shadow rounded-3 my-5'>
				<div class='card-body p-4 p-sm-5'>
					<h2 class='card-title text-center mb-5 fw-light'>Sign In</h2>
					<form action='/auth/signin' method='post'>
						<div class='form-floating mb-3'>
							<input
								type='text'
								class='form-control'
								id='floatingInput'
								placeholder='Enter username'
								name='username'
							/>
							<label for='floatingInput'>Username</label>
						</div>
						<div class='form-floating mb-3'>
							<input
								type='password'
								class='form-control'
								id='floatingPassword'
								placeholder='Password'
								name='password'
							/>
							<label for='floatingPassword'>Password</label>
						</div>
						<div class='d-grid'>
							<button
								class='btn btn-primary btn-login text-uppercase fw-bold'
								type='submit'
							>Sign in</button>
						</div>
					</form>
					<div
						class='d-flex flex-row gap-2 justify-content-center mt-3'
					>
						<p>Don't have an account?</p>
						<a href='/auth/signup' class='text-primary'>Sign up</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>