<div
  class="w-100 bg-light d-flex align-items-center justify-content-center"
  style="padding: 2rem 6rem;"
>
  <a href="/">
    <h1 class="header-font">
      PAYMENT SERVICE
    </h1>
  </a>
</div>