<div
  class="w-100 bg-light d-flex align-items-center justify-content-center"
  style="padding: 1rem 2rem;"
>
  <a href="/">
    <h1 class="header-font text-primary">
      PAYMENT SERVICE
    </h1>
  </a>
</div>