<div class='book-card-container'>
  <div
    class='img-container'
    style="width: 100%;
      padding-top: 150%;
      background-image: url('https://bookly-theme.myshopify.com/cdn/shop/products/shop-new-16.jpg?v=1587117190&width=533');
      background-size: cover;"
  >
  </div>
  <div class='card-body text-center py-4'>
    <h1 class='fs-4 header-font fw-bold'>Girls at the Golden City</h1>
    <p class='text-secondary fs-5'>$12.0</p>
    <div class='ratings'>
      <i class='fa fa-star rating-color'></i>
      <i class='fa fa-star rating-color'></i>
      <i class='fa fa-star rating-color'></i>
      <i class='fa fa-star rating-color'></i>
      <i class='fa fa-star'></i>
    </div>
  </div>
</div>