<div class="modal fade" id="changePwModal" tabindex="-1" aria-labelledby="changePwModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePwModalLabel">Change password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/auth/change-password" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="cur-pw" class="col-form-label">Current Password:</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="cur-pw" name="cur_pw">
                            <button type="button" class="btn btn-outline-secondary" id="show-cur-pw">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="new-pw" class="col-form-label">New Password:</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="new-pw" name="new_pw">
                            <button type="button" class="btn btn-outline-secondary" id="show-new-pw">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary border-0"
                        style="background-color: var(--palette-02);">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('show-cur-pw').addEventListener('click', function () {
        togglePasswordVisibility('cur-pw');
    });

    document.getElementById('show-new-pw').addEventListener('click', function () {
        togglePasswordVisibility('new-pw');
    });

    function togglePasswordVisibility(inputId) {
        var passwordField = document.getElementById(inputId);
        var icon = document.querySelector('#' + inputId + ' + button i');

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>