<form action='/category' method='POST' style='width:300px;'>
  <div style='display: flex; flex-direction: column; gap:16px;'>
    <div class='filter_type_wrapper'>
      <span class='fw-bold header-font fs-5'>Price</span>
      <div style='display: flex; gap:8px; align-items: center;'>
        <span>$</span>
        <div style='width:100%; display: flex; gap:16px;'>
          <input
            class='price_input'
            id='minPrice'
            name='minPrice'
            type='number'
          />
          <input
            class='price_input'
            id='maxPrice'
            name='maxPrice'
            type='number'
          />
        </div>
      </div>
    </div>

    <div class='filter_type_wrapper'>
      <span class='fw-bold header-font fs-5'>Categories</span>
      <div style='display: flex; flex-direction: column;'>
        {{#each categories}}
          <div class='form-check form-check-inline'>
            <input
              class='form-check-input'
              type='checkbox'
              id='{{this._id}}'
              name='category'
              value='{{this._id}}'
            />
            <label
              class='form-check-label'
              for='{{this._id}}'
            >{{this.title}}</label>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <button
    class='btn btn-primary rounded-0 border-0 mt-4'
    style='background-color: var(--palette-02); padding: 0.75rem 2rem;'
    type='submit'
  >Submit</button>
</form>

<style>
  .price_input{width: 130px; height: 2rem; flex:1; text-indent: 4px;}
  .filter_type_wrapper{ display: flex; flex-direction: column; gap:8px; }
</style>