<div style="margin: 80px 0;">
  <div class="container">
    <div class="card px-4">
      <p class="h3 py-3 text-center mt-3">Payment Methods (Only Accept VISA/MasterCard)</p>
      <form id="paymentMethodForm">
        <div class="row gx-3">
          <img src="/assets/creditcards.png" alt="" width="100%">
          <div class="col-12">
            <div class="d-flex flex-column">
              <p class="text mb-1">Cardholder Name*</p>
              <input class="form-control mb-3 text-uppercase" type="text" name="cardholderName" placeholder="Name">
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex flex-column">
              <p class="text mb-1">Card Number*</p>
              <input class="form-control mb-3" type="text" placeholder="1234 5678 435678" maxlength="16"
                name="cardNumber">
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <p class="text mb-1">Expires*</p>
              <input class="form-control mb-3" type="text" placeholder="MM/YY" maxlength="5" name="expires">
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <p class="text mb-1">CVV2/CVC2/CAV2*</p>
              <input class="form-control mb-3 pt-2 " type="password" placeholder="***" maxlength="3" name="cvv">
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="float-end">
              <button class="btn btn-success mb-3" type="submit">
                <span>Add</span>
              </button>
              <a href="/auth/profile">
                <div class="btn btn-danger mb-3">
                  <span>Cancel</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const form = document.getElementById('paymentMethodForm');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(form);

    const data = {};
    formData.forEach((value, key) => {
      data[key] = value;
    });

    fetch("https://localhost:8080/payments/{{userId}}", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    }).then(async (res) => {
      const data = await res.json();
      if (data.success) {
        alert(data.message);
        window.location.href = "https://localhost:3001/auth/profile"
      }
    }).catch(err => {
      console.error(err)
      alert('Add new payment method failed');
    });
  });
</script>